/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/

header {
    padding-left: .5em 0;
    border-bottom: 1px solid #ccc;
}

article {
    padding-top: .5em;
}


.content {
    text-indent: 2em;
    max-height: 115px;
    background-color: #928D8E;



    
    width: 100%;
    overflow: hidden;
}


